<div class="row-layout header">
  <div class="row-layout group">
    <img src="/assets/slingshot-icon.svg" routerLink="/master-view/my-tasks" class="image" />
    <button igxButton="flat" igxRipple [igxToggleAction]="projectDropdown" class="button">
      <span>Home</span>
      <igx-icon class="icon">
        keyboard_arrow_down
      </igx-icon>
    </button>
    <igx-drop-down #projectDropdown class="project-dropdown">
      <igx-drop-down-item>
        Home
      </igx-drop-down-item>
      <igx-drop-down-item>
        Company Inc.
      </igx-drop-down-item>
      <igx-drop-down-item [isHeader]="true">
        INDIGO.DESIGN
      </igx-drop-down-item>
      <igx-drop-down-item>
        Growth hacking
      </igx-drop-down-item>
      <igx-drop-down-item>
        Public preview
      </igx-drop-down-item>
      <igx-drop-down-item>
        UX Feedback
      </igx-drop-down-item>
      <igx-drop-down-item [isHeader]="true">
        Reveal
      </igx-drop-down-item>
      <igx-drop-down-item>
        Onboarding
      </igx-drop-down-item>
      <igx-drop-down-item>
        Analytics
      </igx-drop-down-item>
    </igx-drop-down>
  </div>
  <div class="row-layout group_1">
    <button igxButton="contained" igxRipple [igxToggleAction]="newTaskDialog" class="button_1">
      <igx-icon class="icon_1">
        add
      </igx-icon>
      <span>Task</span>
    </button>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon class="icon">
        add_alert
      </igx-icon>
    </button>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon class="icon">
        message
      </igx-icon>
    </button>
    <igx-avatar src="/assets/Avatar6.png" shape="circle" [igxToggleAction]="profileDropDown" class="avatar"></igx-avatar>
    <igx-drop-down #profileDropDown class="profile-drop-down">
      <igx-drop-down-item [disabled]="true">
        Edit Profile
      </igx-drop-down-item>
      <igx-drop-down-item [disabled]="true">
        About
      </igx-drop-down-item>
      <igx-drop-down-item routerLink="/login/sign-in">
        Logout
      </igx-drop-down-item>
    </igx-drop-down>
  </div>
</div>
<div class="row-layout group_2">
  <igx-nav-drawer [pin]="true" [pinThreshold]="1024" width="320px" class="nav-drawer">
    <ng-template igxDrawerMini>
      <div igxDrawerItem igxRipple routerLink="/master-view/my-tasks">
        <igx-icon class="icon_2">
          assignment_turned_in
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple routerLink="/master-view/dashboards">
        <igx-icon class="icon_2">
          dashboard
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple routerLink="/master-view/backlog">
        <igx-icon class="icon_2">
          vertical_split
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon_2">
          bar_chart
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon_2">
          folder
        </igx-icon>
      </div>
    </ng-template>
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon_2">
          account_circle
        </igx-icon>
        <span>Title goes here</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" #newTaskDialog>
  <igx-dialog-title>
    <h5>
      New Task
    </h5>
  </igx-dialog-title>
  <ng-container>
    <div class="row-layout group_3">
      <div class="column-layout group_4">
        <igx-input-group type="box" class="input">
          <input type="text" igxInput />
          <label igxLabel>Task Name</label>
        </igx-input-group>
        <div class="row-layout group_5">
          <igx-icon class="icon_2">
            people
          </igx-icon>
          <button igxButton="flat" igxRipple class="button_2">
            ASSIGN
          </button>
        </div>
        <igx-input-group type="box" class="ig-typography__body-1 textarea">
          <label igxLabel>Add Description</label>
          <textarea igxInput></textarea>
        </igx-input-group>
        <div class="row-layout group_6">
          <div class="row-layout group_7">
            <igx-icon class="icon_3">
              attach_file
            </igx-icon>
            <button igxButton="flat" igxRipple class="button_2">
              Add Attachment
            </button>
          </div>
          <div class="row-layout group_7">
            <igx-icon class="icon_3">
              access_time
            </igx-icon>
            <p class="text">
              Status
            </p>
            <igx-badge value="TO DO" class="badge"></igx-badge>
          </div>
        </div>
        <div class="row-layout group_8">
          <button igxButton="flat" igxRipple [igxToggleAction]="newTaskDialog" class="button_2">
            CANCEL
          </button>
          <button igxButton="contained" igxRipple [igxToggleAction]="newTaskDialog" class="button_2">
            CREATE
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <igx-dialog-actions></igx-dialog-actions>
</igx-dialog>
