<div class="column-layout left-nav">
  <h6 class="content_1">
    Dashboards
  </h6>
  <igx-list class="list">
    <igx-list-item>
      <span igxListLineTitle>Dashboards</span>
      <span igxListAction>
        <igx-icon class="icon">
          dashboard
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item>
      <span igxListLineTitle>Favorites</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item>
      <span igxListLineTitle>Recent</span>
      <span igxListAction>
        <igx-icon class="icon">
          access_time
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item>
      <span igxListLineTitle>Samples</span>
      <span igxListAction>
        <igx-icon class="icon">
          ballot
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout right-container">
  <div class="column-layout content">
    <h5 class="content_1">
      Recent
    </h5>
    <div class="row-layout group">
      <igx-card [elevated]="true" class="card">
        <igx-card-media height="120px" class="media-content">
          <img src="/assets/reveal-app-data-visualization-dashboard-screenshot-768.jpg" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Artists Analysis
          </h3>
          <h5 igxCardHeaderSubtitle>
            Jun 15, 2020 - Jason Anderson
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <ng-container igxStart></ng-container>
          <ng-container igxEnd>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                star_border
              </igx-icon>
            </button>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                share
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card [elevated]="true" class="card">
        <igx-card-media height="120px" class="media-content">
          <img src="/assets/reveal-app-data-visualization-decision-making-create-chart-types-graphic-768.jpg" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            For evaluation
          </h3>
          <h5 igxCardHeaderSubtitle>
            Jun 15, 2020 - Martina Roberts
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <ng-container igxStart></ng-container>
          <ng-container igxEnd>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                star
              </igx-icon>
            </button>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                share
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card [elevated]="true" class="card">
        <igx-card-media height="120px" class="media-content">
          <img src="/assets/reveal-app-data-visualization-dashboard-screenshot-768.jpg" class="image" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            Stylescape Results
          </h3>
          <h5 igxCardHeaderSubtitle>
            Jun 15, 2020 - Caroline Sanders
          </h5>
        </igx-card-header>
        <igx-card-actions class="actions-content">
          <ng-container igxStart></ng-container>
          <ng-container igxEnd>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                star_border
              </igx-icon>
            </button>
            <button igxRipple igxIconButton="flat">
              <igx-icon>
                share
              </igx-icon>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
      <button igxButton="fab" igxRipple class="button">
        <igx-icon>
          add
        </igx-icon>
      </button>
    </div>
  </div>
</div>
