<div class="row-layout left">
  <div class="column-layout group">
    <div class="row-layout group_1">
      <img src="/assets/slingshot-icon.svg" class="image" />
      <p class="ig-typography__subtitle-2 text">
        TEAM COLLABORATION
      </p>
    </div>
    <h5 class="h5">
      Create your free account
    </h5>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>Email / username</label>
    </igx-input-group>
    <igx-input-group type="border" class="input">
      <input type="password" igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <div class="row-layout group_2">
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>First Name</label>
      </igx-input-group>
      <igx-input-group type="border" class="input_1">
        <input type="text" igxInput />
        <label igxLabel>Last Name</label>
      </igx-input-group>
    </div>
    <p class="ig-typography__body-2 text_1">
      By providing your information and submitting this form, you are agreeing to Infragistic's Terms of Use and Privacy Policy.
    </p>
    <button igxButton="contained" igxRipple routerLink="/master-view/my-tasks" class="button">
      CREATE NEW ACCOUNT
    </button>
    <div class="row-layout group_3">
      <p class="ig-typography__body-2 text_2">
        Already have an account?
      </p>
      <a target="_self" routerLink="/login/sign-in" class="ig-typography__body-2 hyperlink">
        Sign in
      </a>
    </div>
  </div>
</div>
